<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management App</title>
</head>
<body>
    <form method="get">
        <br>
        <label for="student_id">Student Id: </label>
        <input id="student_id" type="text" name="student_id"><br>
        <br>
        <label for="student_name">Student Name: </label>
        <input id="student_name" type="text" name="student_name"><br>
        <br>
        <input type="submit" value="search">
        
    </form>
    
</body>
</html>